<ion-header class="cus-header remove-back-btn" style="z-index: 99999999;">
  <ion-navbar hideBackButton="true">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          My Queue
      </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="cus_myqueue">
      <ion-list *ngIf="!agent && showList">
          <div *ngFor="let key of myqueuenewarr">
              <ion-item (click)="chatkey(key.userid)" *ngIf="list && !key.leaveStatus">
                  <ion-thumbnail item-start>
                      <img src="images/user_img.png">
                  </ion-thumbnail>
                  <h2>{{key.name}}</h2>
                  <p [style.color]="key.highlytVal ? 'red' : ''">{{key.showLastMess}}</p>
                  <!-- <p *ngIf="key.highlytVal ? notifyMe(key.showLastMess,false) :''"></p> -->
                  <button ion-button clear item-end>{{key.lastTime | date:'h:mma'}}</button>
              </ion-item>
          </div>

          <ion-item *ngIf="counterCheckLeave==0">No Users Found </ion-item>
      </ion-list>
      <ion-list *ngIf="agent && showList">
          <div *ngFor="let key of myqueuenewagentarr; let i = index" [className]=u serclass[i]>
              <ion-item (click)="chatkey(key.userid)" *ngIf="list && !key.leaveStatus">
                  <ion-thumbnail item-start>
                      <img src="images/user_img.png">
                  </ion-thumbnail>
                  <h2>{{key.name}}</h2>
                  <p [style.color]="key.highlytVal ? 'red' : ''">{{key.showLastMess}}</p>
                  <button ion-button clear item-end>{{key.lastTime | date:'h:mma'}}</button>
              </ion-item>
          </div>

          <ion-item *ngIf="counterCheckLeave==0">No Users Found </ion-item>
      </ion-list>
  </div>
</ion-content>